{{ define "main" }}
<article>
    <header id="post-header">
        <div class="page-title">{{ .Title }}</div>
        <div>
        {{- if isset .Params "date" -}}
            {{ if eq .Lastmod .Date }}
                <time>{{ .Date | time.Format (i18n "post.created") }}</time>
            {{ else }}
                <time>{{ .Lastmod | time.Format (i18n "post.updated") }}</time>
            {{ end }}
        {{- end -}}
        </div>
    </header>
    {{- .Content -}}
</article>

{{ partial "popup.html" . }}

{{ end }}

