<!-- layouts/partials/cookie-consent.html -->
  <div id="cookie-consent-banner" style="display: none;">
    <p>Utilizamos cookies para mejorar su experiencia de navegación, publicar anuncios o contenidos personalizados y analizar el tráfico de nuestra web. Al hacer clic en "Aceptar", acepta nuestro uso de cookies <a href="/cookie-policy/" id="cookie-policy-link">Más información</a></p>
    <button id="cookie-consent-accept">Aceptar</button>
    <button id="cookie-consent-reject">Rechazar</button>
  </div>
  
  <div id="cookie-policy-modal" class="modal" style="display: none;">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h3>¿Qué son las Cookies?</h3>
      Esta Política de Cookies explica qué son las cookies y cómo las usamos, los tipos de cookies que utilizamos, es decir, la información que recopilamos mediante las cookies y cómo se utiliza esta información, y cómo gestionar la configuración de las cookies.
      Las cookies son pequeños archivos de texto que se utilizan para almacenar pequeñas piezas de información. Se almacenan en tu dispositivo cuando el sitio web se carga en tu navegador. Estas cookies nos ayudan a hacer que el sitio web funcione correctamente, a hacerlo más seguro, a ofrecer una mejor experiencia de usuario y a entender cómo funciona el sitio web y analizar qué funciona y dónde hay que mejorar.
      
      <h3>¿Cómo usamos las Cookies?</h3>
      Como la mayoría de los servicios en línea, nuestro sitio web utiliza cookies propias y de terceros para diversos propósitos. Las cookies propias son básicamente necesarias para que el sitio web funcione correctamente y no recogen ninguno de tus datos de identificación personal.
      Las cookies de terceros que se utilizan en nuestro sitio web son principalmente para entender cómo funciona el sitio web, cómo interactúas con nuestro sitio web, mantener nuestros servicios seguros, proporcionar anuncios que te sean relevantes y, en conjunto, ofrecerte una mejor experiencia de usuario, ayudando a acelerar tus futuras interacciones con nuestro sitio web.
      
      <h3>Gestionar las preferencias de Cookies</h3>
      Puedes cambiar tus preferencias de cookies en cualquier momento haciendo clic en el botón del pie de página. Esto te permitirá revisar el banner de consentimiento de las cookies y cambiar tus preferencias o retirar tu consentimiento inmediatamente.
      Además de esto, diferentes navegadores ofrecen diferentes métodos para bloquear y eliminar las cookies utilizadas por los sitios web. Puedes cambiar la configuración de tu navegador para bloquear/eliminar las cookies. A continuación se muestran los enlaces a los documentos de soporte sobre cómo gestionar y eliminar las cookies de los principales navegadores web.
      
      <p>Chrome: https://support.google.com/accounts/answer/32050 </p>
      <p>Safari: https://support.apple.com/en-in/guide/safari/sfri11471/mac</p>
      <p>Firefox: https://support.mozilla.org/en-US/kb/clear-cookies-and-site-data-firefox?redirectslug=delete-cookies-remove-info-websites-stored&redirectlocale=en-US</p>
      <p>Internet Explorer: https://support.microsoft.com/en-us/topic/how-to-delete-cookie-files-in-internet-explorer-bca9446f-d873-78de-77ba-d42645fa52fc</p>
      
      Si utilizas otro navegador web, visita los documentos de soporte oficiales de tu navegador.
    </div>
  </div>


  <script>
  document.addEventListener('DOMContentLoaded', function() {
    const banner = document.getElementById('cookie-consent-banner');
    const acceptButton = document.getElementById('cookie-consent-accept');
    const rejectButton = document.getElementById('cookie-consent-reject');
    const policyLink = document.getElementById('cookie-policy-link');
    const modal = document.getElementById('cookie-policy-modal');
    const closeBtn = modal.querySelector('.close');

    function setCookie(name, value, days) {
      const date = new Date();
      date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
      document.cookie = name + '=' + value + ';expires=' + date.toUTCString() + ';path=/';
    }
  
    function getCookie(name) {
      const value = '; ' + document.cookie;
      const parts = value.split('; ' + name + '=');
      if (parts.length === 2) return parts.pop().split(';').shift();
    }
  
    if (!getCookie('cookieConsent')) {
      banner.style.display = 'block';
    }
  
    acceptButton.addEventListener('click', function() {
      setCookie('cookieConsent', 'accepted', 365);
      banner.style.display = 'none';
    });
  
    rejectButton.addEventListener('click', function() {
      setCookie('cookieConsent', 'rejected', 365);
      banner.style.display = 'none';
    });

    policyLink.addEventListener('click', function(e) {
        e.preventDefault();
        modal.style.display = 'block';
    });

    closeBtn.addEventListener('click', function() {
        modal.style.display = 'none';
    });

    window.addEventListener('click', function(e) {
        if (e.target == modal) {
        modal.style.display = 'none';
        }
    }); 
  });
  </script>
  
  <style>
  #cookie-consent-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:darkgrey;
    padding: 20px;
    text-align: center;
    z-index: 1000;
  }
  
  #cookie-consent-banner button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
  }

  #cookie-policy-link {
  color: #0066cc;
  text-decoration: underline;
  cursor: pointer;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  </style>